<!-- GETTING STUFF FROM base.html -->
{% extends "base.html" %}

{% load thumbnail %}

<!-- TITLE -->
<!-- DEFAULT HAS BEEN OVERWRITTEN WITH BELOW -->
{% block title %} My super awesome homepage{% endblock %}

<!-- BODY -->
{% block body %}
<!-- FROM views.py -->
    <h1>{{ my_thing }}</h1> <br>

    <a href={% url 'feed:post' %}> Add a new post</a> <br>

<!-- IMPORTED A CLASS FROM models.py, AND THEN
    USED IN views.py-->
    {% for post in posts %}
        <!-- post.id FROM pk IN urls.py -->
        <!-- FROM THE FILE url.py -->
        <!-- APP NAME: feed +
            FROM path() -> name: detail -->
        <a href="{% url 'feed:detail' post.id %}" style='display: inline-block;'>
            {{ post.text }}<br>
        <!-- LOAD AN IMAGE USING thumbnail PACKAGE FROM GITHUB-->
            {% thumbnail post.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </a>
        <!-- NEW LINE -->
        <hr>    
    {% endfor %}
{% endblock %}